
@{
    ViewBag.Title = "show";
}
@{
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}

<h2>show</h2>

<p> @ViewBag.FirstName </p>
<p> @ViewBag.age </p>
<p> @ViewBag.radio </p>
<p> @ViewBag.drop </p>


