
@{
    ViewBag.Title = "Admin";
}

<h2>Admin</h2>

@using (Html.BeginForm("Admin", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    <div class="form-group">
        <label for="formGroupExampleInput">Product Name</label>
        <input type="text" class="form-control" name="Name" id="formGroupExampleInput" placeholder="Example input">
    </div>
    <div class="form-group">
        <label for="formGroupExampleInput2">Product Price</label>
        <input type="text" class="form-control" name="Price" id="formGroupExampleInput2" placeholder="Another input">
    </div>

    <div class="form-group">
        <label for="formGroupExampleInput2">Product Image</label>
        <input type="text" class="form-control" name="Image" id="formGroupExampleInput2" placeholder="Another input">
    </div>

    <input class="" type="submit" value="submit"></input>

}