@{
    ViewBag.Title = "About";
}
<!-- Customized Bootstrap Stylesheet -->
<link href="css/style1.css" rel="stylesheet">
<main aria-labelledby="title">
    <div class="col-lg-7 col-md-12">
        <h1 class="mb-3 text-primary">Screen-less Creative kids</h1>
        <p class="mb-5 display-1 text-white">
            Welcome to Screen-less Creative Kids - a community dedicated to supporting parents in managing and reducing screen time for their children. Our platform offers a comprehensive range of resources, including educational content on the risks of excessive screen time, indoor and outdoor activities to promote healthy alternatives, and a curated selection of educational games. We also provide a community forum where parents can connect, share experiences, and seek advice on navigating the challenges of screen time management. Our goal is to empower families with the tools and knowledge needed to foster balanced lifestyles and healthy digital habits for children.

            In addition to these core features,
        </p>
        <ul>
            Professional Consultations: Access to specialists and therapists who provide guidance and support to help parents address psychological and social challenges related to screen time.
            <li>Interactive Elements: Engaging quizzes and surveys to educate parents on screen time risks and encourage proactive management strategies.</li>
            <li>Resource Library: A vast collection of articles, e-books, and videos offering insights into child development, effective parenting strategies, and alternative activities to screen time.</li>
            <li>Workshops and Webinars: Regularly scheduled online events featuring experts in child psychology, digital wellness, and educational activities, providing parents with practical advice and hands-on strategies.</li>
            <li>Volunteer Opportunities: A platform for therapists and educators to volunteer their expertise, helping to build a supportive community dedicated to child well-being.</li>
            Our mission is to create a supportive environment where parents can find reliable information, share their journeys, and cultivate a healthier, more balanced approach to their children’s use of technology. Join us in making a difference in the lives of children by promoting creative, screen-free activities and fostering a community of engaged, informed, and empowered parents.
        </ul>
    </div>
</main>