@model IEnumerable<_13_8_2024.Models.Class1>

@{
    ViewBag.Title = "Product";
}

<h2>Product</h2>

>
<div class="product">


    @foreach (var item in Model)
    {

        <div class="card" style="width: 18rem;">

            <div class="card-body">
                <img style="width:100%; height:50%;" src="@item.Image" />
                <h5 class="card-title">@item.Name</h5>
                <h5 class="card-title">@item.Price</h5>


            </div>
        </div>

    }
</div>
<style>

    .product {
        display: flex;
    }
</style>
